@charset "utf-8";

//引入
table{
    
    td{
        width:100px;
        height: 50px;
        border:1px solid red;
    }
    //给tr添加颜色
    
    @for $n from 1 to 11{
        //第一行 
        @if($n == 1){
            //
           tr:nth-child(#{$n}){
                background:#000;
             }  
        //判断是偶数行
        }@else if($n%2 == 0){
             tr:nth-child(#{$n}){
                background:yellow;
             }  
        //奇数行
        }@else{
            tr:nth-child(#{$n}){
                background:red;
             }  
        }
    }
}
